
*{padding:0; margin:0; box-sizing: border-box; }
.header{
	display: flex;

}
.container{
	display: flex;
	background-color: antiquewhite;
	margin-top: 5vh;
	justify-content: space-around;
	padding: 40px;
}
form input{
	width: 35vw;
	margin-top:5px;
	margin-bottom: 20px;
	border: 2px solid orange;
	padding: 5px;
}
.state{
	margin-bottom: 20px;
}
.exp-year{
	margin-bottom: 20px;
}
.checkout-button{
	background-color: antiquewhite;
	border: 3px solid orange;
	padding: 5px;
	border-radius: 10px;
	margin-top: 45px;
	color: black;
	font-weight: bold;

}
.checkout-button:hover{
	background-color: orange;
	color: white;
	font-weight: bold;
}
@media screen and (max-width:800px){
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.right{
		margin-top: 20px;
		margin-right: 100px;
	}
	form input{
		width: 55vw;
	}
}