*{padding:0; margin:0; box-sizing: border-box; }
.navbar{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: rgb(49, 49, 215);
    height: 12vh;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.logo{
    margin-left: 8vw;
}
.logo img{
    width: 100px;
}
.input-box{
    display: flex;
    align-items: center;
    background-color: white;
    border: none;
}
.input-box input{
    outline: none;
    width: 30vw;
    border: none;
    font-size: 12px;
    padding: 5px;
}
.navbar div{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 2vw;
}
.nav-items{
    list-style: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.nav-items:hover{
    color: orange;
}
.cart{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cart div{
    margin: 2px;
}
.logout-btn{
    background-color: rgb(49, 49, 215);
    border: 1px solid  rgb(49, 49, 215);
    color: white;
    cursor: pointer;
    font-weight: bold;
    
}

@media screen and (max-width:826px){
    .resp{
        display: none;
    }
    .input-box{
        margin-right: 0px;
        
    }
    .logo{
        margin-left: 4vw;
        width: 70px;
    }
    .navbar{
        height: 8vh;
    }
}

.mobile-navbar-btn{
    display: none;
}
.close-outline{
    display:none;
  }
.mobile-navbar-btn[name="close-outline"]{
    display: none;
} 
@media screen and (max-width:840px){
    .mobile-navbar-btn{
        display: inline-block;
        margin-right: 25px;
        z-index: 999;
        cursor: pointer;
    }
    .mobile-nav-icon{
        font-size: 25px;
    }
}