*{padding:0; margin:0; box-sizing: border-box; }
.productDetails{
    width: 100vw;
    display: flex;
    gap: 5vw;
    margin-top: 50px;
    margin-left: 50px;
}
.product-img img{
    height: 250px;
    width: 200px;
    
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btns{
    margin-top: 40px;
    display: flex;
}
.addToCart{
    background-color: orange;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid orange;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
.addToCart:hover{
    background-color: rgb(194, 153, 78);
    color: white;
}
.buyNow:hover{
    background-color: rgb(200, 84, 42);
}
.buyNow{
    width: 200px;
    background-color: orangered;
    padding: 10px;
    border: 1px solid orangered;
    border-radius: 8px;
    color: white;
    font-weight: 500;
}
.cart-btn{
    list-style: none;
    text-decoration: none;
    color: white;
}
.cart-btn:hover{
    color: white;
}


.right-side{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.detail{
    display: flex;
}
.left{
   font-weight: bold ;
}
.right{
   margin-left: 100px;
}
.tc{
    color: blue;
}
    .rate{
        background-color: green;
        width: 85px;
    }
    @media screen and (max-width:1045px){
        .left-side{
            width: 30vw;
        }
        .buyNow{
        width: 120px;
        }
        .addToCart{
            width: 120px;
        }
}
@media screen and (max-width:850px){
    .productDetails{
        width: 100vw;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5px;
        margin-top: 50px;
    }
    /* .product-img{
        margin-right: 100px;
    }
    .addToCart{
            
    }
    .buyNow{
        margin-right: 90px;
    } */
}